section.map
    .map__google-map#google-map
        include ../modules/_google-map
    .contacts
        h2.contacts__title КОНТАКТЫ
        ul.contacts__list
            li.contacts__item
                span.fa.fa-skype(aria-hidden='true')
                span.contacts__name igsanov
            li.contacts__item
                span.fa.fa-envelope(aria-hidden='true')
                span.contacts__name doktorwest1@rambler.ru
            li.contacts__item
                span.fa.fa-phone(aria-hidden='true')
                span.contacts__name +7 977 811 21 30
            li.contacts__item
                span.fa.fa-map-marker(aria-hidden='true')
                span.contacts__name Москва, пр-т Ленинский 89

            //